body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
}

nav button {
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
}

i {
  margin-right: 6px;
}


.container {
  background-color: white;
  width: 60%;
  margin: 30px auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}


nav button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

nav button:hover {
  background-color: #71a0df;
}
